.head{
  width: 1000px;
  heigth: 200px;
  margin-left: 50px;
}
.header{
  color: black;
}
body{
  background-color: black;
}
.container{
  background-color: gray;
}
.me{
  height: 200px;
  width: 200px;
  margin-left: 300px;
}
#about{
  color: black;
  margin-left: 20px;
  margin-top: 50px;
}
#project{
    margin-top: 50px;
}
.screenshot{
  height: 200px;
  width: 320px;
  margin-left: 0px;
}
.footer{
  margin-top: 50px;
  padding-top: 20px;
  width: 1100px;
  margin-left: 0px;
  color: black;
  background-color: gray;
  border-top: solid;
}
h2.footer{
  padding-left: 80px;
}
a:link {
    color: black;
}
a:visited {
    color: white;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
@media (max-width: 1080px) {
  .head{
    width: 80px;
    heigth: 50px;
    margin-left: 20px;
  }
  .me{
    height: 50px;
    width: 50px;
    margin-left: 20px;
  }
  .screenshot{
    height: 100px;
    width: 180px;
    margin-left: 0px;
  }
  .footer{
    margin-top: 50px;
    padding-top: 20px;
    width: 200px;
    margin-left: 0px;
    color: black;
    background-color: gray;
    border-top: solid;
  }
}
